---
---

@import "{{ site.theme }}";

#header nav {
  background: #353535;
}

#titlebar {
  line-height: 2.0;
  text-align: center;
}

section {
  margin-top: 50px;
}

section #title {
  margin: 0 0 0 0;
}

.picture {
  text-align: center;
}
